<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies List</title>
</head>
<body>
<h1>Movies</h1>
<ul>
    <li th:each="movie : ${movies}">
        <a th:href="@{|/movies/${movie.id}|}" th:text="${movie.title}">Movie Title</a>
    </li>
</ul>
</body>
</html>
