<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Details</title>
</head>
<body>
<h1 th:text="${movie.title}">Movie Title</h1>
<p><strong>Description:</strong> <span th:text="${movie.description}">Description</span></p>
<p><strong>Year:</strong> <span th:text="${movie.releaseYear}">Year</span></p>
<p><strong>Actors:</strong>
    <span th:each="actor, iterStat : ${movie.actors}"
          th:text="${actor.name} + (iterStat.last ? '' : ', ')">Actor Names</span>
</p>
<a href="/movies">Back to list</a>
</body>
</html>
