body {
    font-family: Arial, sans-serif;
}

div {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}