body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}